RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Serve PHP files without extension
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirect requests with .php extension to 404
RewriteCond %{THE_REQUEST} "\.php" [NC]
RewriteRule ^ - [R=404,L]

# Custom 404 Error Page
ErrorDocument 404 /404.php